.git
.DS_Store
.env
.env.deploy
**/.env.local
node_modules
**/node_modules
web-display/dist
**/build
functions
.firebase
.firebase-data
android/google-services.json
android/keystore.properties
*.jks
*.keystore
